engine-strict=true
legacy-peer-deps=true
prefer-offline=true
node-linker=hoisted
public-hoist-pattern[]=*crypto-browserify*
public-hoist-pattern[]=*stream-browserify*
public-hoist-pattern[]=*buffer*
public-hoist-pattern[]=*util*
public-hoist-pattern[]=*assert*
public-hoist-pattern[]=*path-browserify*
public-hoist-pattern[]=*process*
public-hoist-pattern[]=*os-browserify*
public-hoist-pattern[]=*https-browserify*
public-hoist-pattern[]=*stream-http*
public-hoist-pattern[]=*browserify-zlib*
public-hoist-pattern[]=*querystring-es3*
public-hoist-pattern[]=*url*
public-hoist-pattern[]=*whatwg-url*
